/**
 * Name: base.css
 */


/* ==========================================================================
   #CssReset
   ========================================================================== */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol,
    ul {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    /**
     * 1. Always force vertical scroll
     * 2. Prevent iOS text size adjust after orientation change, without disabling user zoom.
     */

    html {
        font-size: 100%;
        overflow-y: scroll; /* 1  */
        -ms-text-size-adjust: 100%; /* 2 */
        -webkit-text-size-adjust: 100%; /* 2 */
        -webkit-font-smoothing: antialiased;
		overflow-x:hidden;
    }


/* ==========================================================================
   #Typography
   ========================================================================== */
	/*
    body {
        background-color: #fff;
        color: #494949;
        font: 13px 'Open Sans', Arial, sans-serif;
        line-height: 23px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #595959;
        font-weight: 300;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a,
    h5 a,
    h6 a {
        font-weight: inherit;
    }

    h1 {
        margin-bottom: 11px;
        font-size: 40px;
        line-height: 64px;
    }

    h2 {
        margin-bottom: 18px;
        font-size: 30px;
        line-height: 58px;
    }

    h3 {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 28px;
    }

    h4 {
        margin-bottom: 21px;
        font-size: 16px;
        line-height: 25px;
    }

    h5 {
        margin-bottom: 23px;
        font-size: 14px;
        line-height: 23px;
    }

    h6 {
        font-size: 12px;
        line-height: 23px;
    }
	*/
	
    p { margin-bottom: 20px; }
    em { font-style: italic; }
    strong { font-weight: bold; }
    small { font-size: 90%; }

    sub {
        vertical-align: sub;
        font-size: 75%;
    }

    sup {
        vertical-align: super;
        font-size: 75%;
    }

    abbr[title] {
        border-bottom: 1px dotted #999;
        cursor: help;
    }

    address {
        display: block;
        margin-bottom: 20px;
    }

    blockquote {}

    blockquote p {}

    blockquote span {
        display: block;
        margin-top: 3px;
    }

    blockquote span:before { content: '\2013 \00A0'; }

    hr {
        height: 0;
        border: solid #efefef;
        border-width: 1px 0 0 0;
        margin: 30px 0;
    }

    code,
    pre {
        -webkit-border-radius: 3px;
                border-radius: 3px;
        font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    }

    code {
        padding: 1px 4px;
        border: 1px solid #e1e1e8;
        background-color: #f7f7f7;
        color: #d14;
    }

    pre {
        display: block;
        padding: 24px;
        border: 1px solid #e1e1e8;
        margin-bottom: 19px;
        overflow-x: auto;
        white-space: pre-wrap;
        background-color: #f7f7f7;
    }

    /* Typography Helper Classes */

    /**
     * <div class="hr"></div> acts like an <hr />
     */

    .hr {
        border-top: 1px solid #efefef;
        margin: 30px 0;
    }

    .text-left { text-align: left; }
    .text-right { text-align: right; }
    .text-center { text-align: center; }

    .text-highlight { color: #65c5be; }

    .text-uppercase { text-transform: uppercase; }

    .mute { color: #aaa; }

    p.last,
    h1.last,
    h2.last,
    h3.last,
    h4.last,
    h5.last,
    address.last { margin-bottom: 0; }

/* #Links
   ========================================================================== */

    a,
    a:visited {
        /*color: #fff;*/
        text-decoration: none;
    }

   /**
    * 1. Remove the gray background color from active links in IE 10.
    */

    a:active {
         background: transparent; /* 1 */
    }

    a:hover,
    a:focus {
	text-decoration: none;
	outline: 0;
	color: #2A80C7;
	font-weight: 700;
    }

/* #Lists
   ========================================================================== */

    ul,
    ol {
        margin-bottom: 20px;
        list-style-position: inside;
    }

    ul ul,
    ul ol,
    ol ol,
    ol ul {
        margin-bottom: 0;
        margin-left: 30px;
    }

    li {}

    ul { list-style-type: disc; }
    ol { list-style-type: decimal; }

    /* List Helper Classes */

    ul.last,
    ol.last { margin-bottom:0; }

/* #Images
   ========================================================================== */

    img {
        border: none;
    }

    /* Images Helper Classes */

    .img-align-left {
        float: left;
        margin: 5px 10px 0 0;
    }

    .img-align-right {
        float: right;
        margin: 5px 0 0 10px;
    }

/* #Tables
   ========================================================================== */

    table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
        border-spacing: 0;
        background-color: transparent;
    }

    caption {
        margin: 20px 0;
        text-align: center;
        font-weight: bold;
    }

    table th,
    table td {
        padding: 15px;
        border-top: 1px solid #aeaeae;
        text-align: left;
        vertical-align: top;
    }

    table th {
        border-top: none;
    }

    table thead th { vertical-align: bottom; }

/* #Forms
   ========================================================================== */

    form {}

    fieldset {}

    form p {}

    label {
        display: block;
        margin-bottom: 5px;
    }

    label span { color: #ff0000; }

    select,
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    input[type="radio"],
    input[type="checkbox"] {
      cursor: pointer;
    }

	
    input,
    textarea,
    select {
        display: block;
        max-width: 100%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 6px 10px;
        border: 1px solid #a4a4a4;
        border-radius: 2px;
        margin-bottom: 10px;
        background: #fff;
        color: #666;
        font: 13px 'Open Sans', Arial, sans-serif;
        line-height: 13px;
        -webkit-appearance: none;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    textarea:focus {
        border-color: #a2a2a2;
          outline: 0;
    }

    select { height: 32px; }

    select:focus {
      outline: thin dotted #333;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }

    textarea {
        min-height: 100px;
        overflow: auto;
    }

    .radio,
    .checkbox {
        min-height: 18px;
        padding-left: 18px;
    }

    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
        float: left;
        margin-left: -18px;
    }

    input:-moz-placeholder,
    textarea:-moz-placeholder {
        color: #ccc;
    }

    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: #ccc;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: #ccc;
    }

/* #Misc
   ========================================================================== */


.box-skew-grid .ewf-row { padding:100px 0; }
.box-skew-grid { width: 100%;overflow: hidden;padding:0;min-height: 250px;background: orange;margin-top: -100px; }
.box-skew-grid-middle { height:5px;width:20px;margin: auto;position:relative; }

.box-skew-grid-skew { position:absolute;width: 1920px;left:-960px;background:red;height:0px; }

.box-skew-set{ width:1920px;margin: auto; }

.box-skew-set { background: transparent;min-height: 450px; position: relative;overflow:hidden; }
.box-skew-wrapper { position: absolute;top:0px;left:-20px;width: 120%;height: 100%; }

.section-white .box-skew-grid p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    font-family: "Montserrat";
    color: #fff;
}

.section-white .box-skew-grid h4 {
        font-size: 36px;
        font-family: "Montserrat";
        font-weight: bold;
        color: #fff;
    }


.box-skew-wrapper {
    perspective: 1200px;
    overflow: hidden;
    margin-bottom: -150px;
    background: transparent;
}

.box-skew-box.ccw {
    transform:rotate(-2.5deg);
}

.box-skew-box.cw {
    transform:rotate(2.5deg);
}

.box-skew-box {
        width:120%;
        perspective: 1200px;
        padding-top:100px;
        padding-bottom:150px;
        background:blue;
        min-height:400px;
        position: relative;
        overflow: hidden;
        margin-top: 50px;
    margin-left: 0;
    }

.skew-text-group {  }

    .skew-image {
        position: absolute;
        left: -50px;
        bottom: 0;
        right: 0;
        top: 0;

    }

    .skew-shape {
        position:absolute;
        
        width: 120%;
        background: rgba(231, 76, 60, .93);
        bottom:0;top:-100px;
        height: 350%;
    }

.box-skew-box.cw .skew-shape { transform:rotate(10deg);left:31.5%;  }
.box-skew-box.ccw .skew-shape { transform:rotate(-10deg);left: auto;right: 58.95%;  }

    /*
    .box-skew { height:300px; width:820px;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;


    }

    .box-skew-inner.left { left:-10px; }
    .box-skew-inner.right { left:106px; }
    .box-skew-inner { height:300px;perspective: 600px;width:900px;position:absolute;top:0;left:0; }
    .box-skew.left { background:gold;transform: rotateY( 172deg );border:1px solid gold; }
    .box-skew.right { background:orange;transform: rotateY( 15deg );border:1px solid orange; }

    .box-skew-wrap { position:relative;height:300px;margin-bottom:-10px; }
   */
